.teacher_card_info {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.teacher_card_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.teacher_card_rating {
  ul {
    list-style: none;
  }
  li {
    span {
      margin-left: 10px;
    }
  }
}

.teacher_card_message {
  margin-top: 20px;
}
